<!DOCTYPE html>
<html>
    <head>
        <script src="../static/angular.min.js"></script>
    </head>
    <body>

    <!--<div ng-app="">-->
        <!--First Name: <input type="text" ng-model="firstName"><br>-->
        <!--Last Name: <input type="text" ng-model="lastName"><br>-->
        <!--<br>-->
        <!--Full Name: {{firstName + " " + lastName}}-->
    <!--</div>-->


    <!--<div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">-->
        <!--<p>The name is {{ person.lastName }}</p>-->
        <!--<p>The name is <span ng-bind="person.lastName"></span></p>-->
    <!--</div>-->

     <div ng-app="" ng-init="points=[1,15,19,2,40]">
        <p>The third result is {{ points[2] }}</p>
    </div>

    </body>
</html>